.news-detail{
    width:480px;
    padding:32px;
    border:1px solid rgba(226,205,181,.35);
    background:rgba(255,255,255,.02);
    line-height:2;
    letter-spacing:2px;
}

.news-detail h1{
    font-size:22px;
    margin:16px 0 28px;
    font-weight:normal;
}

.main-sent{
    transition: 0.3s;
    position:relative;
    display:inline-block;
    color:#E2CDB5;
    text-decoration:none;
    border-bottom:1px solid #E2CDB5;

}

.main-sent:hover{
    color: #f52f50;
    border-bottom: 0.5px solid #f52f50;
}

.news-list{
    width: 480px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 10px 28px 10px 0;
}

.news-list::-webkit-scrollbar{
    width: 4px;
}

.news-list::-webkit-scrollbar-thumb{
    background: rgba(226,205,181,.35);
}

.news-more{
    transition: 0.3s;
}